.title-text {
    font-size: 3rem;
    margin-left: 85px;
}

body {
    background-color: palevioletred;
    border-top-style: dotted;
    border-left-style: solid; 
    border-right-style: solid; 
    border-bottom-style: dotted;
    padding-bottom: 200px;
}

.col-md-6 {
    padding-left: 180px;
    padding-top: 100px;
}

button {
    margin-top: 45px;
    color: purple;
    background-color: orchid;
    padding-top: 20px;
}